<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Подробная информация о работнике</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div th:replace="index :: navBar"></div>
    <div class="department">
        <table>
            <tr>
                <th>Номер</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Специальность</th>
                <th>Отдел</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td th:text="${worker.getId()}"></td>
                <td th:text="${worker.getFirstName()}"></td>
                <td th:text="${worker.getLastName()}"></td>
                <td th:text="${worker.getSpeciality().getName()}"></td>
                <td th:text="${worker.getDepartment().getName()}"></td>
                <td><a th:href="@{/worker/edit/{id}(id=${worker.getId()})}">Редактировать</a></td>
                <td><form th:action="@{/worker/delete/{id}(id=${worker.getId()})}" th:method="delete" >
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="btn">
                        Удалить
                    </button>
                </form></td>
            </tr>
        </table>
    </div>

    <div th:if="${worker.getTasks().size() > 0}">
        <div class="department">
            <table>
                <caption>Задания</caption>
                <tr>
                    <th>Номер</th>
                    <th>Название</th>
                    <th>Подробная информация</th>
                </tr>
                <tr th:each="record : ${worker.getTasks()}">
                    <td th:text="${record.getId()}"></td>
                    <td th:text="${record.getTitle()}"></td>
                    <td><a th:href="@{/task/view/{id}(id=${record.getId()})}">Полная информация</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>