<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список заданий</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="index :: navBar"></div>
<div>
    <a th:href="@{/task/create}">Создать задание</a>
</div>

<div th:if="${tasks.size() > 0}">
    <div class="department">
        <table>
            <caption>Список заданий</caption>
            <tr>
                <th>Номер</th>
                <th>Название</th>
                <th>Отдел</th>
                <th></th>
            </tr>
            <tr th:each="record : ${tasks}">
                <td th:text="${record.getId()}"></td>
                <td th:text="${record.getTitle()}"></td>
                <td th:text="${record.getDepartmentName()}"></td>
                <td><a th:href="@{/task/view/{id}(id=${record.getId()})}">Подробная информация</a></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>